<footer>
  <div class="container">
    <div class="upper d-flex justify-content-between">
      <div class="florita w-25">
        <a class="logo" routerLink="/home">
          <img src="logo.png" alt="" /> <span>Florita</span></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>

      <div class="company">
        <h4>Company</h4>
        <a routerLink="/about">About Us</a>
        <a routerLink="">Team</a>
        <a routerLink="">Articles & News</a>
      </div>

      <div class="help">
        <h4>Help center</h4>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/contact">Contact Us</a>
      </div>

      <div class="newsletter">
        <h4>Newsletter</h4>
        <p>Subscribe to our newsletter for new products, trends and offers.</p>
        <form action="">
          <input type="email" placeholder="Email" />
          <a class="green-btn"
            ><i class="fa-regular fa-envelope i"></i>Sign Up</a
          >
        </form>
      </div>
    </div>

    <div class="lower text-center">
      Copyright &copy; 2025 Florita, All rights reserved. Powered by MoxCreative
    </div>
  </div>
</footer>
