<section class="unique">
  <div class="overrlay"></div>

  <div class="container">
    <div class="left left-animation img" [class.animate-in]="isScrolled">
      <img src="../../../assets/unique-2.jpg" alt="" />
    </div>
    <div class="right right-animation" [class.animate-in]="isScrolled">
      <h1 class="main-heading">
        Unique flowers like your <br />
        unique personality
      </h1>
      <p>
        Praesent ex commodo habitant leo lobortis phasellus nec. Sodales <br />
        interdum magnis phasellus turpis condimentum conubia ipsum <br />
        praesent. Quam venenatis phasellus et rhoncus conubia viverra vehicula.
      </p>
    </div>
  </div>
</section>
