<section class="choose-us">
  <div class="cont container">
    <div class="left left-animation" [class.animate-left]="isScrolled">
      <h1 class="sub-heading">Why choose us</h1>
      <h1 class="main-heading">Fresh flowers with the fresh smile</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>

      <div class="reasons-cont">
        <div class="reason">
          <div class="icon">
            <i class="fa-solid fa-wand-magic-sparkles i"></i>
          </div>
          <div class="txt">
            <h3>Fresh Flowers</h3>
            <p>
              Nulla et proin mattis magnis elementum magna a elit primis mus ac
            </p>
          </div>
        </div>

        <div class="reason">
          <div class="icon"><i class="fa-solid fa-truck-fast i"></i></div>
          <div class="txt">
            <h3>Delivery in 24 hours</h3>
            <p>
              Nulla et proin mattis magnis elementum magna a elit primis mus ac
            </p>
          </div>
        </div>

        <div class="reason">
          <div class="icon">
            <i class="fa-solid fa-mobile-screen-button i"></i>
          </div>
          <div class="txt">
            <h3>Order Online</h3>
            <p>
              Nulla et proin mattis magnis elementum magna a elit primis mus ac
            </p>
          </div>
        </div>

        <div class="reason">
          <div class="icon"><i class="fa-regular fa-life-ring i"></i></div>
          <div class="txt">
            <h3>24/7 Support</h3>
            <p>
              Nulla et proin mattis magnis elementum magna a elit primis mus ac
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="img-1 pop-animation" [class.animate-pop]="isScrolled">
        <img src="../../../assets/choose-1.jpg" alt="" />
      </div>
      <div class="img-2 down-animation" [class.animate-down]="isScrolled">
        <img src="../../../assets/choose-2.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
