<section class="about">
  <div class="container d-flex justify-content-between">
    <div class="left left-animation" [class.animate-in]="isScrolled">
      <h2 class="sub-heading">Who we are</h2>

      <h1 class="main-heading">
        We are passionate about making beautiful more beautiful
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>

      <a class="green-btn" routerLink="/about">Discover more</a>
    </div>

    <div class="right right-animation" [class.animate-in]="isScrolled">
      <img src="../../../assets/about-2.jpg" alt="" />
    </div>
  </div>
</section>
