<section class="after-pop">
  <div class="container">
    <div
      class="left after-left-animation"
      [class.after-animate-in]="isScrolled"
    >
      <div class="overrlay"></div>
      <div class="img">
        <img src="../../../assets/after-pop-1.png" alt="" />
      </div>
      <div class="txt">
        <h1 class="main-heading">Same Day Flower <br />Delivery</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipiscing elit dolor
        </p>
        <a class="green-btn">Learn More</a>
      </div>
    </div>

    <div
      class="right after-right-animation"
      [class.after-animate-in]="isScrolled"
    >
      <div class="overrlay"></div>
      <div class="img">
        <img src="../../../assets/after-pop-2.png" alt="" />
      </div>
      <div class="txt">
        <h1 class="main-heading">
          Congratulate a special <br />
          someone with a <br />
          bouquet
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipiscing elit dolor
        </p>
        <a class="green-btn">Learn More</a>
      </div>
    </div>
  </div>
</section>
