.hero {
  height: calc(100vh - 70px);
  background-color: rgba(218, 218, 220, 0.662);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: relative;
}

.hero .txt {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: var(--main-padding);
  margin-left: var(--sub-margin);
  position: relative;
}

.hero .txt h1 {
  font-size: calc(var(--main-heading-size) + 30px);
}

/* start icons section  */
.icons {
  margin-top: var(--sub-margin);
  margin-bottom: var(--sub-margin);
}

.icon-cont {
  display: flex;
  align-items: center;
}

.icon-cont .icon {
  background: var(--light-yellow);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icon-cont .icon .i {
  font-size: 32px;
  color: var(--light-green);
}

.icon-cont h3 {
  font-size: var(--icon-heading-size);
  color: var(--dark-green);
  font-weight: 400;
}

/* start latest section */

.latest h1 {
  text-align: center;
}

.latest p {
  width: 60%;
  margin: auto;
  margin-top: var(--sub-margin);
  text-align: center;
}

.cards-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--sub-margin);
  gap: 20px;
}

/* start popular section  */
.popular {
  margin-top: 300px;
  background-image: url(../../../assets/popular.jpg);
  height: 500px;
  background-size: cover;
  background-position-y: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.popular h1 {
  margin-bottom: 30px;
}

.pop-wrapper {
  display: flex;
  justify-content: space-between;
}

.pop {
  position: relative;
}

.pop .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(107, 107, 107);
  overflow: hidden;
}

.pop .img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.pop .img:hover > img {
  transform: perspective(500px) translateZ(30px);
  transition: 0.3s ease;
}

.pop .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.pop .txt h3 {
  color: white;
}

.animate {
  transform: translateY(150%);
  transition: 0.9s;
}

.animate-in {
  transform: translateY(-30%);
}

/* start after pop categories section  */
.after-pop {
  padding: var(--main-padding) 0;
}

.after-pop .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.after-pop a {
  display: inline-block;
}

.after-pop .left,
.right {
  width: 48%;
  height: 400px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  background-color: #dcdbe0;
  border-radius: 10px;
}

.after-pop .right {
  background-color: #dfe2eb !important;
}

.after-pop .left .img,
.after-pop .right .img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.after-pop .left img,
.after-pop .right img {
  width: 100%;
}

.after-pop .left:hover img,
.after-pop .right:hover img {
  transform: translateX(-10%);
  transition: transform 0.5s ease-in-out;
}

.after-pop .left .txt,
.after-pop .right .txt {
  position: absolute;
  z-index: 3;
}

.after-pop .left h1,
.after-pop .right h1 {
  color: white;
}

.overrlay {
  z-index: 2;
  display: none;
}
.after-pop .left:hover .overrlay,
.after-pop .right:hover .overrlay {
  display: block;

  background-color: rgba(0, 0, 0, 0.586);
}

p {
  color: white;
}

/* start animations */
.after-left-animation {
  transform: translateY(-130%);
  transition: 1.7s ease-in-out; /* Add transition here */
}

.after-right-animation {
  transform: translateY(130%);
  transition: 1.7s ease-in-out; /* Add transition here */
}

/* Class to apply when animations are active */
.after-animate-in {
  transform: translateX(0%);
}

/* start testimonials  */
.testimonials-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #f9f9f9;
  background-image: url(../../../assets/testimonials.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;

  h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
  }
}

.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: grab;
}

.quote {
  font-size: 1.1em;
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
  /* text-align: center; */
}

.author-info {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10% !important;
  margin: auto;
}

.author-info .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.author-info .img img {
  width: 100%;
  height: auto;
}
.author-name {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.author-title {
  font-size: 0.9em;
  color: #777;
}

/* Swiper custom navigation styles (optional) */
swiper-container {
  padding: 0 50px; /* Add padding to make space for arrows */
}

.swiper-button-prev,
.swiper-button-next {
  color: #007aff;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #007aff;
}
