.hero {
  height: calc(100vh - 0px);
  background-color: rgba(218, 218, 220, 0.662);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: relative;
}

.hero .txt {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: var(--main-padding);
  margin-left: var(--sub-margin);
  position: relative;
}

.hero .txt p {
  color: var(--txt-color) !important;
}
.hero .txt h1 {
  font-size: calc(var(--main-heading-size) + 30px);
}

/* start icons section  */
.icons {
  margin-top: var(--sub-margin);
  margin-bottom: var(--sub-margin);
}

.icon-cont {
  display: flex;
  align-items: center;
}

.icon-cont .icon {
  background: var(--light-yellow);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icon-cont .icon .i {
  font-size: 32px;
  color: var(--light-green);
}

.icon-cont h3 {
  font-size: var(--icon-heading-size);
  color: var(--dark-green);
  font-weight: 400;
}

/* start latest section */

.latest h1 {
  text-align: center;
}

.latest p {
  width: 60%;
  margin: auto;
  margin-top: var(--sub-margin);
  text-align: center;
  color: var(--txt-color);
}

.cards-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--sub-margin);
  gap: 20px;
}




.overrlay {
  z-index: 2;
  display: none;
}
.after-pop .left:hover .overrlay,
.after-pop .right:hover .overrlay {
  display: block;

  background-color: rgba(0, 0, 0, 0.586);
}

p {
  color: white;
}



/* start testimonials  */
.testimonials-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #f9f9f9;
  background-image: url(../../../assets/testimonials.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;

  h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
  }
}

.testimonial-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: grab;
}

.quote {
  font-size: 1.1em;
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
  /* text-align: center; */
}

.author-info {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10% !important;
  margin: auto;
}

.author-info .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.author-info .img img {
  width: 100%;
  height: auto;
}
.author-name {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.author-title {
  font-size: 0.9em;
  color: #777;
}

/* Swiper custom navigation styles (optional) */
swiper-container {
  padding: 0 50px; /* Add padding to make space for arrows */
}

.swiper-button-prev,
.swiper-button-next {
  color: #007aff;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #007aff;
}
